@font-face {
    font-family: "Manrope";
    src: url("../fonts/Manrope-Regular.woff") format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Manrope";
    src: url("../fonts/Manrope-Bold.woff") format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Circe";
    src: url("../fonts/Circe-Regular.woff") format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
  
@font-face {
    font-family: "Circe";
    src: url("../fonts/Circe-Bold.woff") format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
    
    