.footer {
    display: flex;
    justify-content: space-between;
    background-color: #64ffe8;
    padding: 20px;
    width: 100%;
}

.footer__section {
    flex: 1;
    margin: 0 20px;
}

.footer__section-text {
    font-size: 14px;
    color: #6c757d;
}

.footer__list {
    list-style-type: none;
}

.footer__item {
    display: block;
    margin-right: 15px;
}

.footer__item-link {
    text-decoration: none;
    color: #1064bd;
}

.footer__item-link:hover {
    text-decoration: underline;
}

.section__link {
    display: inline;
    margin-right: 15px;
    text-decoration: none;
}

.section__link:hover {
    text-decoration: underline;
}