/* Блок преимуществ */

.our-advantages {
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.our-advantages__title {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    font-style: normal;
    display: block;
    
    background-color: rgb(49, 166, 123);
    color: rgb(255, 255, 255);
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 25px;
    box-shadow: 1px 2px 10px 5px rgb(165, 210, 194);
}

.our-advantages__item {
    margin-top: 0;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    text-align: center;

    width: 350px;
    padding: 20px;
    background-color: rgb(249, 255, 250);
    color: black;
    box-shadow: 1px 2px 20px 5px #aaaaaa;
    border-radius: 25px;
    transition: background-color 0.3s ease-out;
    
    position: relative;
    top: 0;
    transition: top 0.2s linear;
}

.our-advantages__item:hover {
    top: 10px;
}

.our-advantages__item:hover {
   background-color: rgb(197, 250, 224);
   box-shadow: 0 24px 36px rgba(0,0,0,0.11),
   0 24px 46px var(--box-shadow-color);
}

.our-advantages__list {
    margin: 0;
    padding: 20px 0;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    list-style-type: none;   
    justify-content: space-between;
}
/* Блок преимуществ */

/* Блок услуг */

.popular-services {
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.popular-services__title {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    font-style: normal;

    background-color: rgb(49, 166, 123);
    color: rgb(255, 255, 255);
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 25px;
    box-shadow: 1px 2px 10px 5px rgb(165, 210, 194);
}

.popular-services_item {
    margin-top: 0;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    text-align: center;

    width: 350px;
    padding: 20px;
    background-color: rgb(249, 255, 250);
    color: black;
    box-shadow: 1px 2px 20px 5px #aaaaaa;
    border-radius: 25px;

    position: relative;
    top: 0;
    transition: top 0.2s linear;
}

.popular-services_item:hover {
    top: 10px
}


.popular-services__title-card {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.popular-services__list {
    margin: 0;
    padding: 20px 10;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: space-between;
}

.popular-services__image{
 width: 100%;
 height: 200px;
 object-fit: cover;   
 border-radius: 20px;
}

/* Блок услуг */

/* Блок акций */

.stocks {
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.stocks__title {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    font-style: normal;

    background-color: rgb(49, 166, 123);
    color: rgb(255, 255, 255);
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 25px;
    box-shadow: 1px 2px 10px 5px rgb(165, 210, 194);
}

.stocks__list {
    margin: 0;
    padding: 20px 0;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    list-style-type: none;   
    justify-content: space-between;
}

.stocks__image {
    width: 250px;
    border-radius: 25px;
    box-shadow: 1px 2px 20px 5px #d7d7d7;
    justify-content: space-between;
    
    margin: 0;
    padding: 20px 10;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;

    position: relative;
    top: 0;
    transition: top 0.2s linear;
}

.stocks__image:hover {
top: 10px;
}

/* Блок акций */

/* Блок новостей */

.reviews {
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.reviews__title {
    margin: 20px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    font-style: normal;

    background-color: rgb(49, 166, 123);
    color: rgb(255, 255, 255);
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 25px;
    box-shadow: 1px 2px 10px 5px rgb(165, 210, 194);
}
.reviews__wrap {
    display: flex;
    overflow: hidden;
}

.reviews__list {
    width: 1350px;
    margin: 20px;
    margin-left: 0 px;
    margin-right: 0 px;
    padding: 20px 10;
    display: flex;
    gap: 20px;
    list-style-type: none;
    justify-content: space-between;
    overflow: hidden;
}

.item-reviews__text {
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
    
    width: 450px;
    padding: 20px;
    background-color: rgb(249, 255, 250);
    color: black;
    box-shadow: 1px 2px 20px 5px #aaaaaa;
    border-radius: 25px;

    position: relative;
    top: 0;
    transition: top 0.2s linear;
}

.item-reviews__text:hover {
    top: 10px;
}

.item-reviews__wrapper{
    display: flex;
    justify-content: start;
    gap: 20px;
}

.reviews__name {
    margin-top: 15;
    margin-bottom: 15px;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
}

.reviews__content {
    font-size: 20px;
    text-align: justify;
    font-size: 16px;
}

.reviews__image {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 100px;
}

.reviews__button-left {
    border: 5px solid rgb(255, 255, 255);
    border-radius: 45px;
    background-color: rgb(247, 242, 186);
    width: 50px ;
    height: 50px;
    
    cursor: pointer; 

    display: block;  
    transform: rotate(-180deg);
    margin: 0 px;
    margin-top: 150px;
    margin-bottom: 10px;
    transition: background-color 0.3s ease;
}

.reviews__button-left:hover {
    background-color: rgb(250, 247, 208);  
}

.reviews__button-right {
    border: 5px solid rgb(255, 255, 255);
    border-radius: 45px;
    background-color: rgb(247, 242, 186);
    width: 50px ;
    height: 50px;
    
    cursor: pointer; 

    display: block;
    margin: 0 px;
    margin-top: 150px;
    margin-bottom: 10px;
    transition: background-color 0.3s ease;
}

.reviews__button-right:hover {
    background-color: rgb(250, 247, 208);  
}

/* Блок новостей */

/* Блок новостей */

.news {
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.news__title {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    font-style: normal;
    
    background-color: rgb(49, 166, 123);
    color: rgb(255, 255, 255);
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 25px;
    box-shadow: 1px 2px 10px 5px rgb(165, 210, 194);
}

.news__item {
    margin-top: 0;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    

    width: 400px;
    padding: 20px;
    background-color: rgb(249, 255, 250);
   
    box-shadow: 1px 2px 20px 5px #aaaaaa;
    border-radius: 25px;

    position: relative;
    top: 0;
    transition: top 0.2s linear;
}

.news__item:hover {
    top: 10px;
}

.news__list {
    margin: 0;
    padding: 20px 10;
    display: flex;
    gap: 20px;
    list-style-type: none;
    justify-content: space-between;
}

.item-news__title {
    margin: 0%;
    font-size: 20px;
    text-align: center; 
    color: black;
    font-style:italic;
}

.news__item-text {
    margin: 10px;
    font-size: 19px;
    text-align: center; 
    color: black;
    font-style: normal;
}

.item-news__image {
    width: 100%;
    height: 250px;
    object-fit: cover;   
    border-radius: 20px;    
}

.item-news_link {
    padding: 10px;
    display: block;
    text-decoration: none;
    text-align: center;
    font-style: italic;

    margin: 15px;

    background-color: rgb(172, 218, 249);
    color: rgb(0, 0, 0);  
    border: 5px solid rgb(85, 183, 249);
    border-radius: 20px;

    transition: background-color 0.3s ease;
}

.item-news_link:hover {
    background-color: rgb(216, 239, 254);
    }


/* Блок новостей */

/* Блок врачей */

.doctors {
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.doctors__title {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    font-style: normal;

    background-color: rgb(49, 166, 123);
    color: rgb(255, 255, 255);
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 25px;
    box-shadow: 1px 2px 10px 5px rgb(165, 210, 194);
}

.doctors__card{
    margin-top: 0;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    text-align: center;

    width: 250px;
    padding: 20px;
    background-color: rgb(249, 255, 250);
    color: black;
    box-shadow: 1px 2px 20px 5px #aaaaaa;
    border-radius: 25px;

    position: relative;
    top: 0;
    transition: top 0.2s linear;
   }

.doctors__card:hover {
    top: 10px;
}

   .doctors_list {
    margin: 0;
    padding: 20px 10;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    list-style-type: none;   
    justify-content: space-between;
   }

   .doctors__image{
    width: 100%;
    height: 300px;
    object-fit: cover;   
   }

/* Блок врачей */
